<!--<div class="container">
  <div fxLayout="row" fxLayoutAlign="center center" class="content">
    <mat-card class="card" >
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
        <h3>About</h3>
      </mat-card-title>
      <mat-card-content>
        <div class="example-container mat-elevation-z8">
          Employee Management System is a system which contains information about the employee registered and department associated with it.
          It also contains the information about the employee dashboard.
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>-->

<div class="container">
  <div fxLayout="row" fxLayoutAlign="center center" class="content">
    <mat-card class="card" >
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
        <h3>About EMS</h3>
      </mat-card-title>
      <mat-card-content>
        <div class="example-container mat-elevation-z8" >
          <br/>
          <font size="4px">
            <h4><p><u>INTRODUCTION OF THE PROJECT</u></p></h4>
            <p>
              Employee Management system is an application that enables users to create and store Employee Records.
              The application also provides facilities of a payroll system which enables user to generate Pay slips too.
              This application is helpful to department of the organization which maintains data of employees related to an organization.
               It is used to provide the dashreport based on employee registererd in the system. And also keep track the department
              associated with the employee.

            </p>
            <h4><p><u>OBJECTIVE OF THE PROJECT</u></p></h4>

            <p>
            In this world of growing technologies everything has been computerized. With large number of work opportunities
            the Human workforce has increased. Thus there is a need of a system which can handle the data of such a
            large number of Employees in an organization. This project simplifies the task of maintain records
            because of its user friendly nature.
            </p>
            <br/>
          </font>
        </div>
        </mat-card-content>
</mat-card>
  </div>
</div>
