<h1 mat-dialog-title><font color="#a9a9a9"> EMPLOYEE REGISTERATION FORM </font></h1>
<div mat-dialog-content>
  <form class="example-form" (ngSubmit)="onSubmit(employee)">
    <mat-form-field>
      <input matInput placeholder="FIRST NAME" type="text" required [(ngModel)]="employee.firstName" name="firstName" maxlength="30">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="LAST NAME" required [(ngModel)]="employee.lastName" name="lastName" maxlength="30" />
    </mat-form-field>
    <mat-form-field>
      <mat-select matInput placeholder="GENDER" required [(ngModel)]="employee.gender" name="gender">
        <mat-option *ngFor="let gender of genders" [value]="gender.value">
          {{ gender.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="myDatepicker" placeholder="DATE OF BIRTH" required [(ngModel)]="employee.date" name="date" maxlength="10" />
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-select matInput placeholder="DEPARTMENT NAME" required [(ngModel)]="employee.department.deptId" name="deptName">
        <mat-option *ngFor="let dept of departments" [value]="dept.deptId">
          {{ dept.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">Save</button>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="close" (click)="onNoClick()" color="warn">Cancel</button>
</div>
